:root {
  --main-bg-color: #F9F9FB;
  --firefox-text-color: #20123A;
  --secondary-text-color: #4D4D4D;
  --input-placeholder-text-color: #8F8F91;
  --profile-image-outline-color-hover: #B3B3B3;
  --search-field-active-color: #0061e0;
  --search-field-active-color-dimmed: color-mix(in srgb, var(--search-field-active-color) 25%, transparent);
}

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: var(--firefox-text-color);
}

p {
  font-size: 1.6rem;
}


/* HEADER */

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
}

.nav-right {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-right li {
  margin-left: 2rem;
  height: 100%;
}

/* HEADER > Nav > Pocket and VPN options */

.nav-right__pocket,.nav-right__vpn {
  display: none;
}

/* HEADER > Nav > User Profile Picture */

.nav-right li:last-child {
  margin-left: 2.5rem;
}

.nav-right .user-profile__figure {
  width: 2.8rem;
  height: 2.8rem;
}

.nav-right .user-profile__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.nav-right .user-profile__img:hover {
  outline: solid var(--profile-image-outline-color-hover) 0.3rem;
}

/* MAIN */

main {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.main-identifier {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.main-identifier figure {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
}

.main-identifier img {
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 80vw;
  max-width: 720px;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar__engine-icon-container{
  position: absolute;
  left: 1.6rem;
  display: flex;
  align-items: center;
  width: 1.5rem;
}

.search-bar__engine-icon{
  position: relative;
  left: 0px;
  width: 100%;
  height: auto;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  padding: 0 2rem;
  padding-left: 4.4rem;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.search-bar__input.large {
  display: none;
}

.search-bar__input::placeholder {
  color: var(--input-placeholder-text-color);
  font-size: 1.4rem;
}

.search-bar__input:active, 
.search-bar__input:focus, 
.search-bar__input:focus-visible {
  border: 1px solid var(--search-field-active-color);
  outline: 0;
  box-shadow: 0 0 0 2px var(--search-field-active-color-dimmed);
}


/* FOOTER */

footer {
  width: 100%;
  height: 10vh;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

footer q {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--secondary-text-color);
}

footer q::before {
  content: none;
}

footer q::after {
  content: none;
}

footer ul {
  display: none;
}